.home-wrapper {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: center;
  .title1 {
    font-size: 26px;
    color: orange;
  }
  .desc {
    font-size: 30px;
    color: palevioletred;
  }
}