.header-wrapper {
  box-shadow: 5px 0 10px #ccc;
  width: 85vw;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 10;
  .right-box {
    .ant-menu-horizontal {
      text-align: right;
    }
  }
  .ant-row {
    padding-right: 100px;
  }
}