.header-wrapper {
  box-shadow: 5px 0 10px #ccc;
  padding: 0 100px;
  width: 80vw;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 10;
  .right-box {
    .ant-menu-horizontal {
      text-align: right;
    }
  }
}