.header-wrapper {
  box-shadow: 5px 0 10px #ccc;
  padding: 0 100px;
  .left-box {
    position: relative;
    text-align: center;
    .logo-name {
      font-size: 26px;
    }
  }
  .right-box {
    .ant-menu-horizontal {
      text-align: right;
    }
  }
}